:root {
  --color-background: #fcfcfc;
  --color-text: #082d3a;
  --color-dark-blue: #203864;
  --color-light-blue: #8faadc;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Corbel', sans-serif;
  color: var(--color-text);
}

a {
  color: var(--color-dark-blue);
}

.logo {
  width: 320px;
  max-width: calc(100% - 90px);
  height: auto;
  margin: 45px;
}

hr.separator {
  width: 85%;
  max-width: 800px;
  height: 1px;
  border-width: 0;
  margin: 0;

  background: var(--color-dark-blue);
}

h1.title {
  max-width: 80%;
  margin: 45px 0 35px;

  font-size: 34px;
  color: var(--color-dark-blue);
}

.uppercase {
  text-transform: uppercase;
}

.justify {
  text-align: justify;
}

.content {
  width: 600px;
  max-width: 80%;
  margin-bottom: 55px;
}

.content p {
  margin: 0 0 16px;

  font-size: 16px;
  line-height: 24px;
}

.content ul {
  font-size: 16px;
  line-height: 24px;
}

.content ul > li {
  margin-bottom: 4px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content.home {
  display: flex;
  width: 800px;
}

p.contact {
  margin-top: 35px;
}

span.name,
span.title,
span.mail {
  display: block;
  margin-top: 10px;
}

.social-media-button {
  text-decoration: none;
  margin-right: 4px;
}

.social-media-button > img {
  width: 32px;
}

span.name {
  color: var(--color-dark-blue);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
}

span.title {
  color: var(--color-dark-blue);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
}

span.mail {
  font-size: 14px;
  line-height: 14px;
}

ul.links {
  list-style-type: none;
  margin: 15px;
  padding-inline-start: 0;
}

ul.links li {
  display: inline;
}

ul.links li::after {
  content: "–";
  margin-left: 8px;
  margin-right: 4px;
}

ul.links li:last-child::after {
  content: "";
}

.copyright {
  margin-bottom: 14px;
}

.photo-wrapper {
  width: 200px;
  margin-left: 40px;
  margin-right: 10px;
}

.photo-wrapper img {
  width: 200px;
  margin-bottom: 20px;
}

.photo {
  border-radius: 50%;
}

@media only screen and (max-width: 640px) {
  .content.home {
    flex-direction: column-reverse;
  }

  .photo-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  h1.title {
    font-size: 32px;
  }
}
