.photo-wrapper {
  width: 200px;
  margin-left: 40px;
  margin-right: 10px;

  @media only screen and (max-width: 640px) {
    max-width: 100%;
  }
}

.photo-wrapper img {
  width: 200px;
  max-width: 200px;
  margin-bottom: 20px;
}

.photo {
  border-radius: 50%;
}

.social-media-button {
  text-decoration: none;
  margin-right: 4px;
}

.social-media-button > img {
  width: 32px;
}
