.grid {
  --grid-gap: 5px;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, minmax(110px, 25%));
  background: var(--blue200);
  padding-right: var(--grid-gap);
  padding-bottom: var(--grid-gap);
  border-radius: 4px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--grid-gap) 0 0 var(--grid-gap);
  padding: 10px;
  border: none;
  border-radius: 2px;
  background: white;
  color: var(--blue700);
  font-size: .9rem;
  cursor: pointer;
  transition: 75ms;

  &:hover {
    background: var(--blue300);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--blue800);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &[aria-pressed="true"] {
    background: var(--blue700);
    color: white;

    &:hover {
      background: var(--blue800);
    }
  }

  @media only screen and (max-width: 450px) {
    padding: 5px;
    hyphens: auto;
  }
}

.text {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1000ms;
}

.hidden {
  opacity: 0;
}

.speaker {
  height: 30px;
  width: auto;
  margin-top: 10px;
}

.cat {
  height: 40px;
  width: auto;
  margin-bottom: 10px;
}
