<footer local-class="footer">
  <div local-class="content">
    {{svg-jar "projektitekt-logo" role="img" aria-label="Projektitekt" local-class="logo"}}

    <div local-class="name">
      <a href="mailto:sylvia.schuster@projektitekt.de">Sylvia C. Schuster</a>
    </div>
    <div local-class="title">M.A. Architektin</div>
    <div local-class="address">Thomashofstr. 15<br>52070 Aachen</div>

    <ul local-class="links">
      <li><LinkTo @route="imprint">Impressum</LinkTo></li>
      <li><LinkTo @route="privacy">Datenschutz</LinkTo></li>
    </ul>

    <div local-class="copyright">&copy; 2019-2020</div>
  </div>
</footer>