.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 320px;
  background: var(--color-dark-blue);
  color: white;
}

.content {
  width: 800px;
  margin: 0 30px;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 16px;

  path {
    fill: white;
  }
}

.name {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 4px;

  a {
    color: white;
    text-decoration: none;
  }
}

.title {
  font-size: 12px;
  margin-bottom: 16px;
}

.address {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}

.links {
  font-size: 14px;
  list-style-type: none;
  padding: 0;

  li {
    display: inline;

    a {
      color: white;
      text-decoration: none;
    }

    &::after {
      content: "·";
      margin-left: 6px;
      margin-right: 3px;
    }

    &:last-child::after {
      content: "";
    }
  }
}

.copyright {
  margin-bottom: 14px;
}
