<hr local-class="separator">

<ul local-class="links">
  <li><LinkTo @route="news">News</LinkTo></li>
  <li><LinkTo @route="vita">Referenzen & Vita</LinkTo></li>
  <li><LinkTo @route="imprint">Impressum</LinkTo></li>
  <li><LinkTo @route="privacy">Datenschutz</LinkTo></li>
</ul>

<div local-class="copyright">
  &copy; 2019-2020 Sylvia C. Schuster Projektitekt.
</div>