<header local-class="header {{if @wide "wide"}}">
  <div local-class="content">
    <LinkTo @route="index" local-class="logo-link">
      {{svg-jar "projektitekt-logo" alt="Projektitekt Logo" local-class="logo"}}
    </LinkTo>

    <ul local-class="links">
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="unternehmen">Unternehmen</LinkTo></li>
      <li><LinkTo @route="referenzen">Referenzen</LinkTo></li>
      <li><LinkTo @route="news">News</LinkTo></li>
    </ul>
  </div>
</header>
<div local-class="spacer"></div>