{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>

<div class="content home">
    <div>
        {{ .Content }}
    </div>

    <div class="photo-wrapper">
        <img src="/sylvia.jpg" class="photo" alt="Photo of Sylvia Schuster">
        <a href="/news">
            <img src="/church_news.png" class="photo" alt="Photo of the digitalCHURCH Aachen">
        </a>
        <a href="https://aachen.digital">
           <img src="/digital-hub.svg" alt="Digital Hub Logo">
        </a>
        <a href="https://aachenbuildingexperts.de">
           <img src="/ABE_Logo_Member.png" alt="Member of Aachen Building Experts">
        </a>
    </div>
</div>
{{ end }}
