<a href="/">
  <img src="/projektitekt-logo.svg" alt="Projektitekt Logo" class="logo">
</a>

<hr class="separator">

{{outlet}}

<hr class="separator">

<ul class="links">
  <li><a href="/news">News</a></li>
  <li><a href="/vita">Referenzen & Vita</a></li>
  <li><a href="/imprint">Impressum</a></li>
  <li><a href="/privacy">Datenschutz</a></li>
</ul>

<div class="copyright">
  &copy; 2019-2020 Sylvia C. Schuster Projektitekt.
</div>