<h1 class="title">{{@model.title}}</h1>

<div class="content home">
  <div>
    {{html @model.html}}

    <p>
      <a href="https://www.xing.com/profile/SylviaCarola_Schuster/portfolio" target="_blank" rel="noopener noreferrer" local-class="social-media-button">
        <img src="/xing.png" alt="XING">
      </a>
      <a href="https://www.linkedin.com/in/sylvia-carola-schuster-14725310b/" target="_blank" rel="noopener noreferrer" local-class="social-media-button">
        <img src="/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://www.instagram.com/projektitekt.de/" target="_blank" rel="noopener noreferrer" local-class="social-media-button">
        <img src="/instagram.png" alt="Instagram">
      </a>
    </p>

    <p>
      <strong>Ich freue mich, Sie und Ihr Unternehmen kennenzulernen!</strong>
    </p>
  </div>

  <div local-class="photo-wrapper">
    <img src="/scs_sq.jpg" local-class="photo" alt="Photo of Sylvia Schuster">
    <a href="https://aachenbuildingexperts.de" target="_blank" rel="noopener noreferrer">
      <img src="/ABE_Logo_Member.png" alt="Member of Aachen Building Experts">
    </a>
    <a href="https://aachen.digital" target="_blank" rel="noopener noreferrer">
      <img src="/digital-hub.svg" alt="Digital Hub Logo">
    </a>
  </div>
</div>
