<h1 class="title">{{@model.title}}</h1>

<div class="content home">
  <div>
    {{html @model.html}}

    <p>
      <a href="https://www.xing.com/profile/SylviaCarola_Schuster/portfolio" local-class="social-media-button" aria-hidden="true">
        <img src="/xing.png">
      </a>
      <a href="https://www.linkedin.com/in/sylvia-carola-schuster-14725310b/" local-class="social-media-button" aria-hidden="true">
        <img src="/linkedin.png">
      </a>
      <a href="https://www.instagram.com/projektitekt.de/" local-class="social-media-button" aria-hidden="true">
        <img src="/instagram.png">
      </a>
    </p>

    <p>
      <strong>Ich freue mich, Sie und Ihr Unternehmen kennenzulernen!</strong>
    </p>

    <p local-class="contact">
      <span local-class="name">Sylvia C. Schuster</span>
      <span local-class="title">M.A. Architektin</span>
      <span local-class="mail"><a href="mailto:sylvia.schuster@projektitekt.de">sylvia.schuster@projektitekt.de</a></span>
    </p>
  </div>

  <div local-class="photo-wrapper">
    <img src="/sylvia.jpg" local-class="photo" alt="Photo of Sylvia Schuster">
    <LinkTo @route="news">
      <img src="/church_news.png" local-class="photo" alt="Photo of the digitalCHURCH Aachen">
    </LinkTo>
    <a href="https://aachenbuildingexperts.de" target="_blank" rel="noopener noreferrer">
      <img src="/ABE_Logo_Member.png" alt="Member of Aachen Building Experts">
    </a>
    <a href="https://aachen.digital" target="_blank" rel="noopener noreferrer">
      <img src="/digital-hub.svg" alt="Digital Hub Logo">
    </a>
  </div>
</div>