<h1 class="title">{{@model.title}}</h1>

<div class="content home">
  <div>
    {{html @model.html}}
  </div>

  <div class="photo-wrapper">
    <img src="/sylvia.jpg" class="photo" alt="Photo of Sylvia Schuster">
    <a href="/news">
      <img src="/church_news.png" class="photo" alt="Photo of the digitalCHURCH Aachen">
    </a>
    <a href="https://aachenbuildingexperts.de" target="_blank" rel="noopener noreferrer">
      <img src="/ABE_Logo_Member.png" alt="Member of Aachen Building Experts">
    </a>
    <a href="https://aachen.digital" target="_blank" rel="noopener noreferrer">
      <img src="/digital-hub.svg" alt="Digital Hub Logo">
    </a>
  </div>
</div>
